@model IndexViewModel

@section Menu
    {
    <partial name="Menu" model="@new MenuViewModel { Active = null, Sensors = Model.Sensors }" />
}

@foreach (var item in Model.Sensors)
{
    <div class="col-md-3">
        <partial name="SensorCard" model="item" />
    </div>
}