@model IndexViewModel

@foreach (var item in Model.Sensors)
{
    <div class="col-md-3">
        <div class="card">
            <div class="header">
                <h4 class="title">@item.Name</h4>
                <p class="category">@item.Description</p>
            </div>
            <div class="content">
                <h2 class="title">@item.Data.ToString("F1")°C</h2>
                <div class="footer">
                    <hr>
                    <div class="stats">
                        <i class="fa fa-clock-o"></i> @item.LastUpdated
                    </div>
                </div>
            </div>
        </div>
    </div>
}